@{
   
}
<div>
    <a href="@Url.Action("Find")">Find a project</a>
    <br />
    <a href="@Url.Action("Add")">Add a project</a>
    <br />
    <a href="@Url.Action("Update")">Update a project</a>
    <br />
    <a href="@Url.Action("Auth")">Authenticate</a>
</div>